@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    background-color: #0060a8;
    padding: 24px 0px; 
}

.logo {
    position: absolute;
    left: 40px;
}

.logo>img {
    height: 60px;
}

.subpage-links {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subpage-links>a {
    color: #fff;
    padding: 16px 12px 12px;
    text-transform: uppercase;
    text-decoration-color: #fff;
    position: relative;
}

.subpage-links>a:not(:last-child) {
    margin-right: 4px;
}

.subpage-links>a:before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.2s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}

a:hover {
    cursor: pointer;
}

.subpage-links>a:hover:before {
    width: 100%;
}

.subpage-links>a.active:before {
    width: 100%;
}

#subpage {
    flex: auto;
}

#subpage>div {
    height: 100%;
    position: relative;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    padding: 75px 50px;
    background-image: url("./website/home/burger.jpeg");
    background-position: 50%;
    background-size: cover;
}

.home-content {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content>h1 {
    color:#fff;
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 900;
}

.home-content>h1:first-child {
    font-size: 80px;
}

.home-content>button {
    margin-top: 20px;;
}

button, input[type="submit"] {
    color: #fff;
    background-image: linear-gradient(rgb(242, 105, 36), rgb(196, 85, 29));
    padding: 12px 24px;
    border-radius: 4px;
    border-style: none;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;

}

button:hover, input[type="submit"]:hover {
    background-image: linear-gradient(rgb(214, 80, 13), rgb(152, 66, 22));
    cursor: pointer;
}

.menu {
    background-color: #f8f8f8;
}

.menu>h1 {
    background-color: #fff;
    padding: 50px 20px;
    text-transform: uppercase;
    color: #0060a8;
    font-weight: 900;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-background {
    padding: 20px;

}

.slider-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

.slider-card {
    background-color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.slider-card:hover {
    cursor: pointer;
    outline: 2px solid rgb(220, 217, 223);
}

.slider-image {
    width: auto;
    height: 160px;
}

.slider-name {
    text-transform: uppercase;
    color: rgb(0, 96, 168);
    font-weight: 600;
    letter-spacing: 0;
    padding: 10px;
}

.locations {
    background-image: url("./website/locations/whitecastle.png");
    background-position: 50%;
    background-size: cover;
}

.locations-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 75px 0;
}

.locations-content>h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations-content>h1>span:nth-child(1) {
    font-size: 36px;
}

.locations-content>h1>span:nth-child(2) {
    font-size: 95px;
}

.locations-content>h1>span:nth-child(3) {
    font-size: 117px;
}

.locations-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations-form>input[type="text"] {
    width: 400px;
    padding: 16px;
    border-radius: 4px;
    border: 2px solid rgb(127, 175, 211);
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.history {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-content {
    width: min(1200px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-content>h1 {
    align-self: flex-start;
    color: rgb(49, 48, 48);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
}

.history-content>p {
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
    font-size: 16px;
}

.history-content>img {
    max-width: 100%;

}

#gh-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    color: rgb(0, 96, 169);
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 38px;
}

#gh-logo {
    width: 35px;
    height: 35px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

#gh-link:hover #gh-logo {
    transform: rotate(360deg) scale(1.2);
}